---
---
<html>
  <body>
    <form action="/api/contact" method="POST" id="contact_form">
      <input name="firstName" value="Test" />
      <input name="lastName" value="User" />
      <input name="email" value="test@example.com" />
      <input name="phone" value="1234567890" />
      <input name="company" value="TestCo" />
      <input name="industry" value="Other" />
      <input name="message" value="Hello" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html> 